# Personnal folder
__IGNORE__/
.vscode/
.DS_Store/

# Vim utils
.clangd
input.txt
compile_commands.json

# Unit test binary
unit_tests

# Binary
plazza

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
